<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app-1-92894624784-ios-dc7d486ed514aa837fde95</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Gontserrat-Regular.ttf</string>
		<string>Gontserrat-Bold.ttf</string>
		<string>Gontserrat-Black.ttf</string>
	</array>
</dict>
</plist>
